:root {
    --main-size: 1em;
    --main-font: Cursive;
    --sub-font: serif;
    --main-color: rgba(245, 255, 224, 0.856);
}

/* link(nav) or anchor element related*/
nav#menuLine a:link {
    background-color:#fff;
    color:#009;
    text-decoration: none;
}
nav#menuLine a:hover {
    color: rgb(46, 203, 255);
    text-decoration: underline;
}
nav#menuLine a{
    display: inline-block;
    font-family: var(--main-font);
    font-weight: bold;
}
nav#menuLine{
    background-color: rgba(223, 223, 223, 0.699);
    padding: 0.5%;
}
a[target~="_blank"]{text-decoration: none;}
a.source{display:inline-block;}
a[target~="_blank"]:hover{
    background-color: red;
    text-decoration: underline;
}
.activePage{
    background-color: lightcoral;
    color: rgb(17, 0, 255);
    border-top-left-radius: 0.5em;
    border-top-right-radius:0.5em;
    box-shadow:0.3em 0.3em 0.3em grey;
}

p > a:hover {
    background-color: red;
    text-decoration: underline;
}

/* body and html tags */
html {background-color: white;}
body {
    border: thin solid black;
    background-image: url("../image/BGimg.jpg");
    max-width: 65em;
    padding: 1%;
    margin: auto;
}

/* image and figure related*/
img{max-width: 100%;}
figure {border :0.2em ridge lightgreen;}
figure#explanation1, figure#explanation2{
    padding: var(--main-size);
    margin: 0em 1.5em 2em 1.5em;
    background-color:var(--main-color);
    width: 27em;
}
figure.left{float: left;}
figure.right{float: right;}
figcaption{background-color:var(--main-color);}
img.rounded{
    border-radius: 2em;
    border: 0.2em ridge green;
}
.table figure{background-color:var(--main-color);}
header figure{
    padding: 1em;
    margin: auto;
    width: 8em;
}
ol figure{
    float: right;
    width: 18em;
}
section#php figure{width: 90%;}
section#php figcaption{margin: auto;}
figure.animation1, figure.animation2{
    width: 7em;
    height: 5em;
    margin: 0.5em;
    padding: 0.1em;
}
aside figure{margin:auto;}
#php figure{margin:auto;}
/* table related */
table{
    width: 80%;
    margin:auto;
    border-collapse: collapse;
    border: 0.3em ridge olivedrab !important;
}
caption {
    font-family: var(--main-font);
    background-color: whitesmoke;
}
#sort p{margin: auto;}
section#sort td{margin: auto;}
td {
    width: 30%;
    border: 0.3em ridge red;
    font-family: var(--sub-font);
}
th {
    background-color: rgba(218, 218, 218, 0.541);
    border: 0.3em ridge olivedrab !important;
    font-family: var(--main-font);
}
tr.rowOdd {background-color: rgb(164, 164, 216);}
tr.rowEven {background-color: rgb(216, 174, 164);}

/* paragraph related */
p#intro {
    padding: 0.5em;
    margin : 0.5em;
}
p.main{
    font-family: var(--sub-font);
    background-color:var(--main-color);
    line-height: 120%;
    text-indent: 3em;
    margin: auto;
    text-align: left;
    padding: 1em;
}
p.source {
    background-color:var(--main-color);
    display: inline;
}
footer a{
    font-family: var(--sub-font);
    color: white;
}

/* header related*/
h1{text-transform: uppercase;}
h1, h2, h3, h4{
    background-color: yellowgreen;
    font-family: var(--main-font);
}

/*list related*/
li.oddList{background-color:rgba(240, 128, 128, 0.829);}
li.evenList{background-color:rgba(144, 238, 144, 0.74);}


/* etc...*/
cite {font-size:xx-small;}
mark {background-color: yellow;}
fieldset{
    background-color: rgba(230, 230, 219, 0.904);
    width: 80%;
    margin:auto;
    text-align: left;
}
#youtube {
    margin: auto;
    padding: 3%;
    width: 80%;
    height: 60vw;
    background: radial-gradient(rgb(3, 168, 3) 50%,rgb(255, 255, 255));
}
iframe{
    margin: 1em auto 0.5em auto;
    width: 90%;
    height: 70%;
    display: block;
}
footer{background-color: black;}
label {background-color: var(--main-color);}
section#php{
    width: 50vw;
    margin:auto;
    background-color:var(--main-color);
}


/* detail.php flexbox-layout*/
.flexbox-layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flexbox-layout .main{flex: 0 1 65%;}
.flexbox-layout figure{flex: 0 1 35%}

/* index.php flex-layout*/
#picIntroduction{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#explanation1{flex: 0 1 50%;}
#explanation2{flex: 0 1 50%;}


/* styling the form.php*/
/* first name, last name, email, phone number*/
.require{text-shadow: 0 0 0.2em rgba(255, 37, 37, 0.678);}
input[name^="txt"]{
    text-shadow: 0 0 0.2em rgba(255, 37, 37, 0.678);
    box-shadow: 0.2em 0.2em 0.2em rgba(255, 152, 152, 0.678);
    border-radius: 40px 20px;
    border: thick solid blueviolet;
}

/* radio box */
input[name^="rad"]{box-shadow: 0 0 0.5em rgba(116, 116, 116, 0.678);}
label[for^="rad"]{text-shadow: 0 0 0.2em rgba(255, 37, 37, 0.678);}
/* textarea */
textarea {
    box-shadow: 0 0 1em rgba(116, 116, 116, 0.678);
    text-shadow: 0 0 0.2em rgba(255, 37, 37, 0.678);
    width:90%;
    margin:auto;
}
/* check box */
input[name^="chk"]{box-shadow: 0 0 0.5em rgba(116, 116, 116, 0.678);}
label[for^="chk"]{text-shadow: 0 0 0.2em rgba(255, 37, 37, 0.678);}

/*list box */
select[name^="lst"]{box-shadow: 0 0 2em rgba(255, 37, 37, 0.678);}
label[for^="lst"]{text-shadow: 0 0 0.2em rgba(255, 37, 37, 0.678);}

/* submit button */
input[type=submit]{
    border: thin solid darkgreen;
    border-radius: 2em;
    background-color: rgb(200, 255, 200);
    height: 4em;
    width: 19em;
    color: rgb(0, 0, 0);
}

/* fluid-layout in extra.php for nav element */
.fluid-layout aside{
    width: 25%;
    float: left;
    border: 0.2em outset greenyellow;
    background-color: yellow;
}

.fluid-layout aside + article{         
    width: 70%;
    float: right;
}
.fluid-layout article
{
    border: 0.2em outset greenyellow;
    background-color: rgb(86, 193, 255);
}
.fluid-layout footer{clear: both;}
.fluid-layout p, .fluid-layout ol {
    text-align: left;
    padding: 2%;
    background-color: rgba(255, 255, 214, 0.514);
}

/* center deactivated */
li, p, form
{
    margin:auto;
    text-align: left;
    max-width: 50em;
}
ol{
    background-color: var(--main-color);
    margin: auto;
}

/* grid-layout for body element */
.grid-layout-body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "header" "nav" "main" "footer";
}
body.grid-layout-body header{
    grid-area: header;
}
body.grid-layout-body nav{
    grid-area: nav;
}
body.grid-layout-body main{
    grid-area: main;
}
body.grid-layout-body footer {
    grid-area: footer;
}
/* grid-layout for nav element */
.grid-layout-body #menuLine{
    display: grid;
    grid-template-columns: 18.8% 18.8% 18.8% 18.8% 18.8%;
    justify-content: space-evenly;
    grid-template-areas: "a1 a2 a3 a4 a5";
}
.grid-layout-body #menuLine a[href^="index"]{grid-area: a1;}
.grid-layout-body #menuLine a[href^="detail"]{grid-area: a2;}
.grid-layout-body #menuLine a[href^="form"]{grid-area: a3;}
.grid-layout-body #menuLine a[href^="extra"]{grid-area: a4;}
.grid-layout-body #menuLine a[href^="contest"]{grid-area: a5;}
/* index.php grid-layout in article element*/
.grid-layout{
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "heading" "picture" "text" "table" "conclusion";
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.grid-layout h2{grid-area:heading;}
.grid-layout #wordIntroduction{ grid-area: text;}
.grid-layout #picIntroduction{grid-area: picture;}
.grid-layout #sort{grid-area: table;}
.grid-layout #conclusion{grid-area: conclusion;}

tr:hover {background-color: rgb(46, 203, 255)!important;}
nav, header{text-align: center;}
h1 {
    max-width: 40vw;
    margin: auto;
}
h2, h3, h4{
    max-width: 30vw;
    margin: auto;
    display: block;
    text-align: center;
}

